<div class="container">
  <div class="quote-wrapper">
    <div class="quote">
      <h2><%= params['question'] %></h2>
      <h3>-You</h3>
    </div>
    <br>
    <div class="quote">
      <h2><%= @answer %></h2>
      <h3>-Your coach</h3>
    </div>

  <%= link_to 'Ask a new question', ask_path %>
  </div>
</div>
